[theme]
;<element>            = <foreground>  <background>  <attributes>
Normal                = default       default       normal
Selected              = default       default       normal
SelectedCursor        = default       default       reverse

TitleBar              = ansi_3        ansi_15       reverse
OrderBar              = ansi_1        ansi_15       reverse
OrderBarHighlight     = ansi_15       ansi_3        bold
HelpBar               = ansi_2        ansi_15       reverse
Prompt                = cyan          -             bold+reverse
NoticeInfo            = -             -             bold
NoticeLoading         = -             -             bold
NoticeError           = -             -             bold
NoticeSuccess         = -             -             bold

CursorBlock           = ansi_6        -             -
CursorBar1            = magenta       -             -
CursorBar2            = cyan          -             -
CursorBar3            = green         -             -
CursorBar4            = yellow        -             -

CommentAuthor         = ansi_1        -             -
CommentAuthorSelf     = ansi_6        -             bold
CommentCount          = -             -             -
CommentText           = -             -             -
Created               = -             -             -
Downvote              = ansi_124      -             bold
Gold                  = ansi_226      -             bold
HiddenCommentExpand   = -             -             bold
HiddenCommentText     = -             -             -
MultiredditName       = yellow        -             bold
MultiredditText       = -             -             -
NeutralVote           = -             -             bold
NSFW                  = ansi_124      ansi_15       bold+reverse
Saved                 = green         -             -
Score                 = -             -             -
Separator             = -             -             bold
Stickied              = green         -             -
SubscriptionName      = yellow        -             bold
SubscriptionText      = -             -             -
SubmissionAuthor      = ansi_1        -             bold
SubmissionFlair       = ansi_2        -             -
SubmissionSubreddit   = ansi_3        -             -
SubmissionText        = -             -             -
SubmissionTitle       = -             -             bold
Upvote                = ansi_34       -             bold
Link                  = ansi_4        -             underline
LinkSeen              = ansi_8        -             underline
UserFlair             = ansi_2        -             bold
