const c_base00 = '#{{base00-hex}}'
const c_base01 = '#{{base01-hex}}'
const c_base02 = '#{{base02-hex}}'
const c_base03 = '#{{base03-hex}}'
const c_base04 = '#{{base04-hex}}'
const c_base05 = '#{{base05-hex}}'
const c_base06 = '#{{base06-hex}}'
const c_base07 = '#{{base07-hex}}'
const c_base08 = '#{{base08-hex}}'
const c_base09 = '#{{base09-hex}}'
const c_base0A = '#{{base0A-hex}}'
const c_base0B = '#{{base0B-hex}}'
const c_base0C = '#{{base0C-hex}}'
const c_base0D = '#{{base0D-hex}}'
const c_base0E = '#{{base0E-hex}}'
const c_base0F = '#{{base0F-hex}}'
