* {{
    background-color: {inactive};
    text-color: {color15};
    border-color: {color0};
    font: "Iosevka Nerd Font 14";
}}

#window {{
    width: 380px;
    y-offset: -10%;
    padding: 18px;
    border: 3px;
}}


#entry {{
    expand: true;
    width: 200px;
}}

/* vim:ft=css
