FLAVOURS = {
    base00 = '#{{base00-hex}}',
    base01 = '#{{base01-hex}}',
    base02 = '#{{base02-hex}}',
    base03 = '#{{base03-hex}}',
    base04 = '#{{base04-hex}}',
    base05 = '#{{base05-hex}}',
    base06 = '#{{base06-hex}}',
    base07 = '#{{base07-hex}}',
    base08 = '#{{base08-hex}}', -- red
    base09 = '#{{base09-hex}}', -- orange
    base0A = '#{{base0A-hex}}', -- yellow
    base0B = '#{{base0B-hex}}', -- green
    base0C = '#{{base0C-hex}}', -- cyan
    base0D = '#{{base0D-hex}}', -- blue
    base0E = '#{{base0E-hex}}', -- purple
    base0F = '#{{base0F-hex}}', -- brown
}
